<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <services>
      <service name="Northwind.OrderService">
        <endpoint address="OrderService" binding="basicHttpBinding" bindingConfiguration=""
          contract="NorthwindInterfaces.IOrderService" />
      </service>
      <service name="Northwind.OrderStateChangeNotifier">
        <endpoint address="OrderStateChangeNotifierService" binding="wsDualHttpBinding"
          bindingConfiguration="" contract="NorthwindInterfaces.IOrderStateChangeNotifierService" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:55801/NorthwindTradeService.svc/OrderStateChangeNotifierService"
          binding="wsDualHttpBinding" bindingConfiguration="" contract="NorthwindInterfaces.IOrderStateChangeNotifierService"
          name="OrderStateChangeNotifierService" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="NorthwindData" connectionString="metadata=res://*/NorthWindData.csdl|res://*/NorthWindData.ssdl|res://*/NorthWindData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %date - %message%newline%exception" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>